* {
    box-sizing: border-box;
}

.footer {
    width: 100%;
    background-color: black;
    color: white;
    
}

.footer__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.footer__info h3 {
    text-align: center;
    margin: 0 0 20px 0;
}

.footer__info p {
    margin: 0 0;
    max-width: 280px;
}

.footer__instagram {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin: 0;
}

.footer__instagram h3 {
    text-align: center;
    padding: 0 0 20px 0;
    margin: 0 0;
}

.insta_photos {
    margin-bottom: 40px;
    max-width: 280px;
}

.insta_photos img{
    width: 75px;
    height: 75px;
    cursor: pointer;
}

@media (min-width: 768px) {
    .footer {
        display: flex;
        justify-content: center;   
    }

    .insta_photos {
        min-height: 150;
    }
}