* {
    box-sizing: border-box;
}

/* h, head */
body {
    margin: 0;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: solid 1px #272727;
    background-color: #000;
    height: 52px;
}

.nav .logo {
    position: absolute;
    left: 1%;
    opacity: 1;
    margin-left: 5%;
    color: white;
}

.logo img {
    width: 50px;
    height: 50px;
}

.nav .menu {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 400px;
    gap: 0px 5px;
    padding: 0 0;
}

.nav .menu a {
    list-style-type: none;
    cursor: pointer;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.menu-color {
    color: white;
    text-decoration: none;
}

.actived {
    color: #7D7D7D;
}

.nav .menu a:hover {
    color:#7D7D7D;
}

.nav .menu a:active {
    color:#7D7D7D;
}

@media (max-width: 499px) {
    .nav .menu a:nth-child(1) {
        display: none;
    }

    .nav .logo {
        display: none;
    }
}

@media (max-width: 600px) {
    .nav .logo {
        margin-left: 0;
    }
}

@media (min-width: 500px) {
    .nav {
        z-index: 99;
        position: fixed;
        top: 0;
        width: 100%;
    }
}