/* h, head */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');

.font-head {
    font-family: 'Raleway', sans-serif;
}

/* paragraph */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Raleway:ital,wght@1,700&display=swap');

.font-paragraph {
    font-family: 'Manrope', sans-serif;
}


.welcome h2 {
    text-align: left;
    margin: 40px 20px 20px 20px;
    max-width: 250px;
    min-width: 250px;
}

.welcome h2 span {
    font-size: 30px;
    font-weight: 900;
    color: rgb(158, 0, 0);
}

.welcome p {
    text-align: left;
    margin: 20px 20px 40px 20px;
}

.booked {
    width: 200px;
    height: 50px;
    background-color: aqua;
}

@media (min-width: 768px) {
    .welcome {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .welcome h2 {
        margin: 80px 0 80px 80px;
    }

    .welcome p {
        margin: 80px 80px 80px 0;
        min-width: 335px;
        max-width: 450px;
    }
}