@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Raleway:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Cormorant+Garamond:wght@500&family=Great+Vibes&family=Manrope&display=swap');

/* the last */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body {
    // background-color: black;
    background-image: url("../images/bg/bg_wood5.jpg");
    background-position: center;
    // background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
}

.welcome {
    display: flex;
    justify-content: center;
}

.welcome__font-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: auto;

    h2 {
        font-size: 28px;
        font-family: 'Audiowide', cursive;
        background: linear-gradient(127.56deg, #FFFFFF -6.78%, #000000 150.1%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 40px 0 40px 0;
    }

    h2 span {
        font-size: 75px;
    }

    p {
        max-width: 300px;
        margin-left: 100px;
        font-family: 'Abel', sans-serif;
        // font-family: 'Manrope', sans-serif;
        margin: 0;
        margin-bottom: 40px;
        color: white;
    }
}

.welcome__picture-block {
    display: flex;
    justify-content: center;
    align-items: center;        
    width: 400px;
    height: 400px;   
    background-color: rgba(192, 192, 192, 0.1);
    box-shadow: 0px 0px 150px rgb(151, 151, 151);
    border-radius: 50%;

    .nail__window {
        background-image: url('https://media.tenor.com/rSyyewwyFscAAAAC/toenails-toe.gif');
        border-radius: 50%;
        // border: 30px solid rgba(199, 199, 199, 0.3);
        // box-sizing: unset;
        background-position: center;

    //     &::before {
    //         z-index: -1;
    //         content: "";
    //         
    //         position: absolute;
    //         left: 0;
    //         right: 0;
    //         top: 0;
    //         bottom: 0;
    //         border: 30px solid rgb(216, 215, 215);
    //         width: calc(100% + 30px);
    //         height: calc(100% + 30px);
    //         padding: 30px;
    //         border-radius: 50%;
    //     }
    }
}

// @media (min-width: 320px) {
//     .welcome {
//         display: flex;
//         flex-direction: column;
//         align-items: center;

//         .welcome__picture-block {
//             width: 320px;
//             height: 320px; 
            
//             .nail__window {
//                 width: 280px;
//                 height: 280px;
//             }
//         }

//         .welcome__font-block {
//             padding: auto;
//             margin: 0 10px 0 10px;
    
//             p {
//                 margin-left: 30px;
//             }
//         }
//     }
// }


// @media (max-width: 768px) {
//     .nail__window {
//         max-width: 100px;
//         max-height: 100px;
//     }
// }

/* .welcome h2 {
    max-width: 250px;
    min-width: 250px;
    font-size: 28px;
    background: linear-gradient(127.56deg, #FFFFFF -6.78%, #000000 86.1%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

/* .welcome h2 span {
    font-size: 75px;
    font-style: bold;
} */

/* .welcome p {
    text-align: left;
    margin: 20px 20px 40px 20px;
} */

/* .booked {
    width: 200px;
    height: 50px;
    background-color: aqua;
} */

/* @media (min-width: 768px) {
    .welcome {
        display: flex;
        flex-direction: column;
        align-items: left;
        
        
        justify-content: center;
    }

    .welcome h2 {
        margin: 80px 0 80px 80px;
    }

    .welcome p {
        margin: 80px 80px 80px 0;
        min-width: 335px;
        max-width: 450px;
    } 
} */